<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Meowdex</title>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <div class="logo">
            <img src="/static/data/images/icons/logo.png" alt="Логотип Meowdex">
        </div>

        <div class="btn-container">
            <a href="/game" class="btn-link">
            <button class="btn" onclick="handleButtonClick('game')">
                <img src="/static/data/images/button/play_btn.png" alt="Кнопка играть">
            </button>
            </a>

            <a href="/rules" class="btn-link">
            <button class="btn">
                <img src="/static/data/images/button/rules_btn.png" alt="Кнопка правила">
            </button>
            </a>
        </div>
    </div>


</body>
</html>