<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Meowdex</title>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <div class="logo">
            <img src="/static/data/images/icons/logo.png" alt="Логотип Meowdex">
        </div>

        <div class="btn-container">
            <button class="btn" onclick="handleButtonClick(1)">
                <img src="/static/data/images/button/play_btn.png" alt="Кнопка играть">
            </button>
            <button class="btn" onclick="handleButtonClick(1)">
                <img src="/static/data/images/button/rules_btn.png" alt="Кнопка правила">
            </button>

        </div>
    </div>
</body>
</html>