<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Meowdex</title>
</head>
<body>
    <div class="background"></div>
    <div class="rules-container">
        <div class="rules_grid"> <img src="/static/data/images/background/rules_grid.png"></div>

        <div class="text-overlay">
            <h1>Rules game</h1>
            <p>text rules</p>
        </div>
    </div>

<div class="back-btn">
     <a href="/" class="btn-link">
         <button class="btn" onclick="handleButtonClick('/')">
             <img src="/static/data/images/button/home_btn.png" alt="Кнопка играть">
         </button>
     </a>
</div>
</body>
</html>